/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/movie-recom/*venv
/public/*.training.1600000.processed.noemoticon.csv
/public/*.vectoriser.pickle
*/public/training.1600000.processed.noemoticon.csv
/.idea
/.vscode
/storage/app/public/*.training.1600000.processed.noemoticon.csv
/storage/app/public/*.data.csv
/storage/app/public/*.imdb_data_results.csv
/storage/app/public/*.imdb_data_results (copy).csv
/storage/app/public/movie-recom/movies_metadata.csv
/storage/app/public/movie-recom/sent-model.h5
/public/movie-recom/*movies_metadata.csv
/public/movie-recom/*sent-model.h5
/public/*sent-model.h5
/public/*.training.1600000.processed.noemoticon.csv
